@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book 2V (vai e volta)</h1>
    <p>Cadastro online de empréstimos de livros</p>
    <div style="max-width=30">
        <img src="/img/livro.png" style="width: 30%" />
    </div>
</div>
